body {
  text-align: center;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.my-collection {
  position: absolute;
  left: 10px;
  top: 10px;
  background-color: white;
  max-width: 300px;
}
